/*Global Styles*/

/*imported fonts*/
@import url(http://fonts.googleapis.com/css?family=Syncopate|Karla);

html {
	font-family: "Karla", sans-serif;
}
/*link styles*/

a {text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
a:visited{text-decoration: none;}


/*navigation styles*/

.navigation-wrapper {
	background: black;
	margin-top: -21px;
}

.navigation-wrapper a {
	color: #ddd;
}

.navigation-wrapper li {
	display: inline-block;
	height: 40px;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
}

.buttons-wrapper {
	text-align: center;
}

.navigation-wrapper .title {
/*	float: left;*/
	position: absolute;
	text-indent: 40px;
	padding-top: 7px;
	font-family: "Syncopate", sans-serif;
}

.navigation-wrapper li:hover {
	background: #333;
}

.navigation-wrapper a:hover {
	color: white;
}








